@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Montserrat:wght@600&display=swap');
:root {
    --green: #0d9979;
    --white: #FFFFFF;
    --red: red;
    --green2: green;
    --green3: rgb(83, 188, 83);
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(.37, 1.14, .26, 1.24);
}

*::selection {
    background: var(--green);
    color: #FFFFFF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


/*button1 usage*/

.btn {
    height: 3.5rem;
    width: 15rem;
    background: none;
    outline: none;
    border: .2rem solid var(--white);
    color: var(--white);
    font-size: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.btn::before,
.btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--green2);
    z-index: -1;
    transition: all 0.5s cubic-bezier(.37, 1.14, .26, 1.24);
}

.btn::before {
    clip-path: polygon(0 0, 0 0, 0 0);
}

.btn:hover:before {
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.btn::after {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}

.btn:hover:after {
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.btn:hover {
    color: white;
}


/*button 3*/

.btn3 {
    height: 3.5rem;
    width: 5rem;
    background: none;
    outline: none;
    border: .2rem solid var(--green3);
    color: var(--white);
    font-size: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    position: relative;
}


/*Button 4*/

.btn4 {
    height: 2.7rem;
    width: 12rem;
    background: none;
    outline: none;
    border: .2rem solid var(--white);
    color: var(--white);
    font-size: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.btn4::before,
.btn4::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--green2);
    z-index: -1;
    transition: all 0.5s cubic-bezier(.37, 1.14, .26, 1.24);
}

.btn4::before {
    clip-path: polygon(0 0, 0 0, 0 0);
}

.btn4:hover:before {
    clip-path: polygon(0 0, 0 100%, 100% 0);
}

.btn4::after {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}

.btn4:hover:after {
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.btn4:hover {
    color: white;
}


/*header*/

.heading {
    text-align: center;
    font-size: 4rem;
    color: #555;
    padding: 1rem;
    padding-top: 7rem;
}

.heading i {
    color: var(--green2);
    font-size: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 3);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 0 !important;
    padding: 1 rem 5rem;
    height: 80px;
    width: 100%;
}

header .logo {
    color: var(--green3);
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 1.5rem;
    color: #666;
}

header .navbar ul li a:hover {
    color: var(--green);
}

header .fa-bars {
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    display: none;
}

header .navbar ul li .user {
    font: black;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
}

header .navbar ul li .user i {
    font-size: 2rem;
}


/*home page*/

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/home-bg.jpg);
    background-size: cover;
    background-position: center;
}

.home .content {
    text-align: center;
    padding: 1rem;
}

.home .content h2 {
    font-size: 5rem;
    color: var(--white);
    font-family: 'Dancing Script', cursive;
}

.home .content h1 {
    font-size: 10rem;
    color: var(--white);
}

.home .content p {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    color: #fff;
}


/*About Us*/

.about .heading {
    color: rgb(83, 188, 83);
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about .row .content {
    flex: 1 1 40rem;
    padding: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.about .row .content h3 {
    font-size: 3rem;
    color: grey;
    text-align: center;
}

.about .row .content p {
    font-size: 1.5rem;
    text-align: center;
    justify-content: space-evenly;
}

.about .row .content .interest {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.about .row .content a {
    text-align: center;
    align-items: center;
}


/*Projects*/

.project {
    background: black;
    min-height: 100vh;
    backdrop-filter: blur(2px);
}

.project h1 {
    color: var(--green3);
}

.project .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
}

.project .box-container .box {
    flex: 1 1 30rem;
    height: 22rem;
    box-shadow: 0 .3rem .5rem #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 1rem;
}

.project .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*SeedLink*/

.seedlink {
    max-height: 90rem;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    background: url(images/seedlink-bg.jpg);
    background-size: cover;
    background-position: center;
}

.seedlink .heading {
    position: relative;
    align-items: center;
    color: var(--green3);
}

.seedlink .heading .seed .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.seedlink .seed .content h3 {
    text-align: center;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    color: lightsteelblue;
}

.seedlink .seed .content .p1 {
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
}

.seedlink .seed .content .p2 {
    position: relative;
    padding-bottom: 25px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
}

.seedlink .seed .content a {
    position: relative;
    align-items: center;
    left: 700px;
    right: 700px;
    height: 1rem;
    width: 7rem;
}


/*Our Work*/

.ourwork {
    position: relative;
    align-items: left;
    text-align: left;
    background: url(images/ourwork-bg.jpg);
    background-size: 100%;
    background-position: 100%;
    height: 550px;
    display: block;
    justify-content: space-evenly;
}

.ourwork .heading {
    position: relative;
    color: var(--green3);
    font-size: 5.5rem;
    font-family: 'Rubik';
    top: 0;
    padding-top: -10px;
    padding-bottom: 10px;
}

.ourwork h2 {
    position: relative;
    color: lightgrey;
    text-shadow: .05rem .05rem #000;
    font-size: 3rem;
}

.ourwork p {
    align-items: center;
    font-size: 1.6rem;
    padding-top: 20px;
    padding-bottom: 30px;
    color: lightyellow;
}

.ourwork p a {
    font-family: 'Dancing Script', sans-serif;
    color: lightcyan;
    font-size: 2rem;
}


/*Donate */

.section-container {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

.section-container .columns {
    flex: 0 0 auto;
    width: 40%;
}

.section-container .columns.image {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-container .columns.content .content-container {
    padding: 70px 50px;
}

.section-container .columns.content .content-container p a {
    font-family: 'Rubik';
    color: green;
}

.section-container .columns.content .content-container h5 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.section-container .columns.content .content-container p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 15px;
    text-align: justify;
}

@media screen and (max-width:767px) {
    .section-container {
        flex-flow: row wrap;
    }
    .section-container .columns.image {
        display: block;
        order: 1;
        width: 100%;
        height: 250px;
    }
    .section-container .columns.content {
        display: block;
        order: 2;
        width: 100%;
    }
    .section-container .columns.content .content-container {
        padding: 20px 35px;
    }
    .section-container .columns.content .content-container h5 {
        margin-bottom: 5px;
    }
}


/*write to us*/

.write .header1 {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: lightgrey;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 3);
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1 rem 5rem;
    width: 100%;
    height: 200px;
}

.write .header1 p {
    display: flex;
    position: relative;
    font-size: 3rem;
    align-items: center;
    text-align: center;
    padding-left: 500px;
    padding-right: 400px;
    font-family: 'Montserrat', sans-serif;
}


/*Footer*/

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--green3);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


/*Media tags*/

@media (max-width:768px) {
    html {
        font-size: 55%;
    }
    header .fa-bars {
        display: block;
    }
    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        border-top: .1rem solid #ccc;
        opacity: 0;
    }
    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
        background-color: #FFFFFF;
    }
    header .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 1rem 0;
    }
    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }
    .fa-times {
        transform: rotate(180deg);
    }
    header .nav-toggle {
        top: 6rem;
        opacity: 1;
    }
    .home .content h1 {
        font-size: 4rem;
    }
    .home .content p {
        font-size: 4rem;
    }
    .about .heading {
        font-size: 3rem;
        max-width: 768px;
        position: relative;
    }
    .about .heading .row .content {
        font-size: 1.5rem;
        max-width: 768px;
        position: relative;
    }
}